<!DOCTYPE html>
<html>

<body>
  <div class="main-container">
  <aside class="sidebar">
    <div class="sidebar-header">
      <div class="logo">
        <img src="../../../assets/logo.png"  href="/visitor-find-keepers" alt="Logo">
      </div>
    </div>
    <nav class="sidebar-nav">
      <ul>
          <li><a [routerLink]="'/keeper/' + user.id">Profile</a></li>
          <li><a [routerLink]="'/keeper/' + user.id+ '/bookings'">Bookings</a></li>
          <li><a [routerLink]="'/keeper/' + user.id+ '/reviews'">Reviews</a></li>
          <li><a [routerLink]="'/keeper/' + user.id+ '/messages'">Messages</a></li>
      </ul>
    </nav>
  </aside>
  <header class="header">
      <div class="header-left">
        <h1>Reviews</h1>
      </div>
      <div class="header-right">
          <button  name="logout-button" type="button" class="btn btn-primary mb-auto" (click)="onLogout()">
        
              <svg fill="#000000" height="24px" width="24px" version="1.1" id="XMLID_173_" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" 
              viewBox="0 0 24 26" xml:space="preserve">
                <g id="logout">
                  <g>
                    <path d="M15,24H0V2h15v8h-2V4H2v18h11v-6h2V24z M18.4,18.7L17,17.3l3.3-3.3H5v-2h15.3L17,8.7l1.4-1.4L24,13L18.4,18.7z"/>
                  </g>
                </g>
                </svg>
            </button>
      </div>
    </header>
  <div class="home">
    
    <div class="statistics">
      <p>Total Bookings: {{ bookings }}</p>
      <p>Total days of petkeeping: {{ days }}</p>
    </div>
    <div class="card">
      <div class="review-summary">
        <h2>Reviews</h2>
        <div class="average-rating">
          <span class="star">&#9733;</span>
          <span class="average">4</span>
          <span class="total-reviews"> Based on 10</span>
        </div>
        <div class="rating-distribution">
          <div class="rating-bar">
            <span>5 star</span>
            <div class="bar"><div class="filled" style="width: 80%;"></div></div>
            <span>5</span>
          </div>
          <div class="rating-bar">
            <span>4 star</span>
            <div class="bar"><div class="filled" style="width: 60%;"></div></div>
            <span>1</span>
          </div>
          <div class="rating-bar">
            <span>3 star</span>
            <div class="bar"><div class="filled" style="width: 40%;"></div></div>
            <span>3</span>
          </div>
          <div class="rating-bar">
            <span>2 star</span>
            <div class="bar"><div class="filled" style="width: 20%;"></div></div>
            <span>2</span>
          </div>
          <div class="rating-bar">
            <span>1 star</span>
            <div class="bar"><div class="filled" style="width: 10%;"></div></div>
            <span>1</span>
          </div>
        </div>
      </div>
      <div class="review-list">
        <div class="review-item" *ngFor="let review of reviews">
          <img src="../../../assets/user.png" alt="Avatar" class="avatar">
          <div class="review-content">
            <div class="review-header">
              <h3>{{ getOwnerName(review.owner_id) }}</h3>
              <p-rating [ngModel]="review.rating" [readonly]="true" [cancel]="false"></p-rating>
            </div>
            <p>{{ review.comment }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>

</html>
