.home {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    background-image: url("../../../assets/cats.jpg");
    background-size: cover;
    background-position: center;
  }